.menu {
    background-color: rgb(202, 200, 200);
    box-sizing: border-box;
    display: grid;
    padding: 20px;
    width: 100%;
    height: 100vh;
}

.field {
    display: grid;
    margin-bottom: 20px;
}

.button-save {
    height: 40px;
    cursor: pointer;
}