<div class='container'>
    <app-menu [selected_tag]="selected_tag" (tags_to_render)="getTags($event)" (orientation)="setOrientation($event)">
    </app-menu>

    <div class="card-container">
        <img src="assets/images/esri_logo.png" alt="Esri Logo">
        <div class="card-content" [style.text-align]="orientation !== 'free' ? orientation : ''">

            <ng-container *ngIf="orientation === 'free' ">
                <div [style.font-family]="font" class="card-box" *ngFor="let item of tags"
                    cdkDragBoundary=".card-content" cdkDrag (cdkDragStarted)="handleSelection(item)">
                    {{item.tag_label}}
                </div>
            </ng-container>

            <ng-container *ngIf="orientation !== 'free'">
                <div [style.font-family]="font" class="card-box_no-free" *ngFor="let item of tags"
                    (click)="handleSelection(item)">
                    {{item.tag_label}}
                </div>
            </ng-container>

        </div>
        <img src="assets/images/logo_end.png" alt="Esri Logo End">
    </div>
</div>