<button type='button' (click)="exportPDF()">Imprimir</button>

<div class='container'>
    <app-menu [selected_tag]="selected_tag" (tags_to_render)="getTags($event)" (orientation)="setOrientation($event)">
    </app-menu>

    <div class="card-container" #pdfCard>
        <img class="header_image" *ngIf="showHeader" src="assets/images/esri_logo.png" alt="Esri Logo">
        <div class="card-content" [style.text-align]="orientation !== 'free' ? orientation : ''"
            [style.height]="height_value">
            <ng-container *ngFor="let item of tags">
                <ng-container *ngIf="orientation === 'free' ">
                    <div *ngIf="item.tag !== 'header_image' && item.tag !== 'footer_image'"
                        cdkDragBoundary=".card-content" cdkDrag (cdkDragStarted)="handleSelection(item)">
                        <span *ngIf="item.tag !== 'qr' && item.tag !== 'v_card'" [style.font-family]="item.font"
                            [style.font-size]="item.font_size + 'px'" class="card-box">{{item.tag_label}}</span>
                        <img *ngIf="item.tag === 'qr' || item.tag === 'v_card'" [style.width]="item.font_size + '%'"
                            src="assets/images/qr.png" alt="QR image">
                    </div>
                </ng-container>
                <ng-container *ngIf="orientation !== 'free'">
                    <div *ngIf="item.tag !== 'header_image' && item.tag !== 'footer_image'" class="card-box_no-free"
                        (click)="handleSelection(item)">
                        <span *ngIf="item.tag !== 'qr' && item.tag !== 'v_card'" [style.font-family]="item.font"
                            [style.font-size]="item.font_size + 'px'">{{item.tag_label}}</span>
                        <img *ngIf="item.tag === 'qr' || item.tag === 'v_card'" [style.width]="item.font_size + '%'"
                            src="assets/images/qr.png" alt="QR image">
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <img class="footer_image" *ngIf="showFooter" src="assets/images/logo_end.png" alt="Esri Logo End">
    </div>
</div>